

.card > .card-image > .card-prices
{
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-bold
{
  font-weight: bold;
}

.collection > .collection-item > .col-mar-10top
{
  margin-top: 10px
}

.collection > .collection-item > .col-pad-15top
{
  padding-top: 15px;
}

.collection > .collection-item > .col-mar-15top
{
  margin-top: 15px;
}

.collection > .collection-item > .col-pad-20top
{
  padding-top: 20px;
}

.collection > .collection-item > .col-pad-30top
{
  padding-top: 30px;
}

.collection > .collection-item > .col-mar-30top
{
  margin-top: 30px;
}

.collection > .collection-item > p.col-mar-250right
{
  margin-right: 100px;
}

.collection > .collection-item > a.col-mar-140right
{
  margin-right: 140px;
}

.collection > .collection-item > a.col-mar-100right
{
  margin-right: 100px;
}

.collection > .collection-item > a.col-mar-30right
{
  margin-right: 30px;
}

.collection > .collection-item > .row > .delete-on-orders
{
  margin-left: 40px;
  margin-top: 40px
}

.collection > .collection-header> .row > .delete-on-header
{
  margin-left: 40px;
  margin-top: 40px
}

.collection > .collection-item.avatar.avatar-to-normal
{
    padding-left: 10px
}

.detail-button
{
  margin-left: 20px;
  margin-bottom: 10px
}

table.cart-table
{
  font-size: 20px;
}

.card > .card-title.own-title
{
    font-size: 20px;
    font-weight: bold;
    margin: 5px
}

.card-image > a > img.goods-image
{
    max-height: 30vh;
    width: auto;
}

.zakladni-info > .zakladni-info-img > img.detail-image
{
    max-height: 75vh;
}

.row > .col.message-box
{
  border-radius: 10px;
}

.col.message-box > .message-content
{
  margin: 10px;
  font-size: 20px;
}

main > h4.center-error
{
    margin-top: 25vh;
}

.submit-gif
{
    margin-top: 20px;
    margin-left: 10px;
}

.cart-image
{
    max-width: 50vh;
    height: auto;
}

.cart-count-input
{
    margin-top: 40px;
}

.g-recaptcha 
{
    transform:scale(0.9);
    transform-origin:0 0;
}

.card-content > .card-div
{
    max-height: 20vh;
}

.datepicker::placeholder
{
    color: black;
}

.modal
{
    width: 30% !important;
}
