

.card > .card-image > .card-prices
{
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-bold
{
  font-weight: bold;
}

.collection > .collection-item > .col-mar-10top
{
  margin-top: 10px
}

.collection > .collection-item > .col-pad-15top
{
  padding-top: 15px;
}

.collection > .collection-item > .col-pad-20top
{
  padding-top: 20px;
}

.collection > .collection-item > .col-pad-30top
{
  padding-top: 30px;
}

.collection > .collection-item > p.col-mar-250right
{
  margin-right: 250px;
}
.collection > .collection-item > a.col-mar-140right
{
  margin-right: 140px;
}

.collection > .collection-item > a.col-mar-100right
{
  margin-right: 100px;
}

.collection > .collection-item > a.col-mar-30right
{
  margin-right: 30px;
}

.collection > .collection-item > .row > .delete-on-orders
{
  margin-left: 40px;
  margin-top: 40px
}

.collection > .collection-header> .row > .delete-on-header
{
  margin-left: 40px;
  margin-top: 40px
}

.detail-button
{
  margin-left: 20px;
  margin-bottom: 10px
}

table.cart-table
{
  font-size: 20px;
}

.row > .col.message-box
{
  border-radius: 10px;
}

.col.message-box > .message-content
{
  margin: 10px;
  font-size: 20px;
}
