<%@ page pageEncoding="UTF-8" %>

<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>${formTitle}</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/myjs.js" charset="utf-8"></script>
  <script src="/js/submitjs.js" charset="utf-8"></script>

  <link rel="stylesheet" href="/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href = "/css/vlastni-styly.css" type="text/css" rel="stylesheet">
</head>
<body>
     <c:set var="forAdmins" value="true" />
  <%@include file="/WEB-INF/jspf/navbar.jspf" %>

  <div class="section">
    <div class="chip right">
      <img src="/img/user.png" alt="">
      <sec:authentication property="principal.username" />
    </div>
  </div>

  <main>
    <h3 class="center-align">${formTitle}</h3>
    <br>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s6 offset-s3">
            <form:form id="forma-pridani-znacky" action="${formAction}" method="post" modelAttribute="brandForm">
                <div class="input-field">
                   <form:label path="name">Nazev znacky</form:label>
                   <form:input type="text" path="name" id="name" required="required"/>
                   <form:errors path="name" cssStyle="color: #ff0000;" /> 
                </div>
                <br>   
                <div class="col s4 offset-s5" id="submitDiv">
                    <button class="btn-large blue darken-2" type="submit">Uložit</button>
                </div>
            </form:form>
          </div>
        </div>
      </div>
    </div>

</main>

<br>
<br>

<%@include file="/WEB-INF/jspf/footer.jspf" %>
</body>
</html>