<%@ page pageEncoding="UTF-8" %>
<div id="confirmation" class="modal">
    <div class="modal-content" id="modal-content-div">
      <h4 id="confirm-title" class="center-align">Potvrdit akci</h4>
      <p id="confirm-body" class="center-align">Opravdu provést tuto akci?</p>
    </div>
    <div class="modal-footer">
      <a id="confirm-button" class="blue darken-2 waves-effect waves-light btn">Ok</a>
      <button class="modal-close grey waves-effect waves-light btn">Zrušit</button>
    </div>
</div>
