<%@ page pageEncoding="UTF-8" %>
<div class="section">
    <div class="container">
      <div class="row">
        <div class="col s10 offset-s1 yellow lighten-3 center-align message-box">
          <div class="text-bold message-content">${notFoundMessage}</div>
        </div>
      </div>
    </div>
  </div>
