<%@ page pageEncoding="UTF-8" %>
<div class="section">
    <div class="container">
      <div class="row">
        <div class="col s10 offset-s1 green lighten-3 center-align message-box">
          <div class="text-bold message-content" style="margin: 10px; font-size: 20px">${successMessage}</div>
        </div>
      </div>
    </div>
  </div>
