<%@ page pageEncoding="UTF-8" %>

<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>${formTitle}</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/myjs.js" charset="utf-8"></script>
  <script src="/js/submitjs.js" charset="utf-8"></script>

  <link rel="stylesheet" href="/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href = "/css/vlastni-styly.css" type="text/css" rel="stylesheet">
</head>
<body>
       <c:set var="forAdmins" value="true" />
  <%@include file="/WEB-INF/jspf/navbar.jspf" %>

  <div class="section">
    <div class="chip right">
      <img src="/img/user.png" alt="">
      <sec:authentication property="principal.username" />
    </div>
  </div>

  <main>
    <h3 class="center-align">${formTitle}</h3>
    <br>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s6 offset-s3">
              <form:form id="forma-pridani-users" action="${formAction}" method="post" modelAttribute="${formType}">
                <div class="input-field">
                   <form:label path="name">Jmeno</form:label>
                   <form:input type="text" path="name" id="name" required="required" validate="validate"/>
                   <form:errors path="name" cssClass="red-text"/>
                </div>
                <br>

                <div class="input-field">
                   <form:label path="login">Login</form:label>
                   <form:input type="text" path="login" id="login" requred="required" validate="validate"/>
                   <form:errors path="login" cssClass="red-text"/>
                </div>
                <br>

                <div class="input-field">
                   <form:label path="password">Heslo<c:if test="${editing != null}">*</c:if></form:label>
                   <form:input type="password" path="password" id="password" requred="required" validate="validate"/>
                   <form:errors path="password" cssClass="red-text"/>
                </div>
                <br>
                
                <div class="input-field">
                   <form:label path="passwordCheck">Potvrdit heslo<c:if test="${editing != null}">*</c:if></form:label>
                   <form:input type="password" path="passwordCheck" id="passwordCheck" requred="required" validate="validate"/>
                   <c:if test="${editing != null}"><span>* Pokud nechcete měnit heslo, nechte pole prázdné</span></c:if>
                   <form:errors path="passwordCheck" cssClass="red-text"/>
                </div>
                <br>

                <div class="input-field">
                   <form:label path="adress">Email</form:label>
                   <form:input type="text" path="adress" id="adress" requred="required" validate="validate"/>
                   <form:errors path="adress" cssClass="red-text"/>
                </div>
                <br>

                <div class="input-field">
                  <form:select path="role" id="role">
                    <form:option value="uzivatel" selected="selected">Zakaznik</form:option>
                    <form:option value="admin">Admin</form:option>
                  </form:select>
                  <label></label>
                </div>
                <br>

                <div class="input-field col s4 offset-s5" id="submitDiv">
                  <button class="btn-large blue darken-2" type="submit">Uložit</button>
              </div>

            </form:form>
          </div>
        </div>
      </div>
    </div>


</main>

<br>
<br>

<%@include file="/WEB-INF/jspf/footer.jspf" %>
</body>
</html>